<div class="right-container">
  <%= link_to "Add a Student", new_student_path, class:'add-student' %>
  <div class="student-container">
    <% @students.each do |student| %>
      <div class="student-box">
        <div class="circle"></div>
        <h1><%= student.first_name %></h1>
        <%= link_to "edit", "/students/#{student.id}/edit" %>
      </div>
    <% end %>
  </div>
</div>