<div class="right-container">
  <%= link_to "Add a Student", new_student_path, class:'add-student' %>
  <div class="student-container">
    <% @students.each do |student| %>
      <div class="student-box">
        <div class="circle"></div>
        <p><%= student.first_name + " " + student.last_name[0]+"."%></p>
        <ul class="test">
          <li><%= link_to "edit", "/students/#{student.id}/edit" %> | </li>
          <li><%= link_to "delete", "/students/#{student.id}", method: 'delete',data: {confirm: "Deleting this student will erase all of his/her reports. Are you sure?"} %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>