<div class="right-container">
  <div class="login">
    <% if @parents.count > 0 %>
      <%= render 'form' %>
    <% else %>
      <h1>Please add Parents first <%= link_to 'here', '/parents/new'%></h1>
    <% end %>
    <% if @errors %>
      <% @errors.each do |msg| %>
        <div class="errors">
          <p><%= msg %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>