/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.border {
  border: 1px solid red;
}

header {
  position: relative;
  background-color: #343a40;
  height: 50px;
}

header h1 {
  position: absolute;
  margin: 0;
  top: 6.5px;
  left: 0;
  z-index: 1;
  color: #0ab5ff;
  padding-left: 10px;
}

h1 {
  color: #000;
}

.nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 80%;
  padding-right: 10px;
}

.nav ul {
  list-style: none;
  margin: 0 auto;
  opacity: 0.9;
  text-align: right;
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s background-color;
}
.nav li {
  display: inline-block;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
  line-height: 50px;
  height: 40px;
  margin-left: 2%;
}
.nav a:hover {
  background-color: #005f5f;
}

.container {
  position: absolute;
  top: 50px;
  right: 0;
  text-align: center;
  width: 79.7%;
  height: 100vh;
}

.container .col-10 {
  margin: 0 auto;
}

.sidebar {
  position: relative;
  left: 0;
  width: 20%;
  height: 100vh;
}
