.banner {
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/crayons.jpg);
  background-size: cover;
}
.ban-1 {
  height: 100vh;
}
/*.banner:nth-child(2) {
  background-image: url(../../../Desktop/Images/worship/guitar.jpg);
  background-size: cover;
  background-position: 0 -80px;
}
.banner:nth-child(3) {
  background-image: url(./Images/bulb.jpg);
  background-size: cover;
}
.banner:nth-child(5) {
  background-image: url(./Images/bulb.jpg);
  background-size: cover;
}*/

