// Place all the styles related to the Parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle-red {
  height: 150px;
  border-radius: 80px;
  background-color: red;
}
