// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #eee;
  width: 100%;
}
.login {
  height: 100vh;
  margin: 0 auto;
  width: 65%;
}
.errors {
  color: red;
}
